/* .contact-us {
  background-image: url("https://img.freepik.com/free-psd/call-center-operator-wearing-headphones-with-microphone_23-2148693252.jpg?t=st=1650269449~exp=1650270049~hmac=2efdb22df841df0d9b91bde7590743a2b585ef867898a849753e041f23ede556&w=900");
  width: 1200px;
  height: 500px;
  background-repeat: repeat;
  margin: auto;
} */
